<img src="../img/templatemdp1.png" width="2000px" height="750px">
<h4> Berita Terkini</h4>

<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Drone Jammer</h5>
          <p class="card-text">balbalballbalbabla boombaklak</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pembuatan FPV Kamikaze Drone</h5>
          <p class="card-text">Penggunaan FPV Drone dimedan pertempuran sangat krusial...</p>
          <a href="/about" class="btn btn-primary">lihat</a>
        </div>
      </div>
    </div>
  </div>

